	.hd { 
		font-family: fantasy;
		font-size: xx-large;
		font-weight: 700;		
		color: rgb(150, 51, 116);
	}  

	.h-menu{
		display: block;
		position: relative;
		font-family: fantasy;
		font-size: xx-large;
		font-weight: normal;

	}
   
   
  .h-menu:after { 
	  content: "";
	  display: block;
	  width: 100%;
	  height: 5px;
	  position: absolute;
	  left: 0;
	  background: linear-gradient(90deg, 
		#CDE0EE, #CDE0EE 20%,
		#EBF0F3 20%, #EBF0F3 40%, 
		#9BB0C1 40%, #9BB0C1 60%, 
		#5D8BAD 60%, #5D8BAD 80%,
		#041E34 80%, #041E34 100%);
   }  
 
	.h-menu ul {
		list-style: none; /*убираем маркеры списка*/
		margin: 0 auto; /*убираем верхнее и нижнее поле, равное 1em*/
		padding-left: 0; /*убираем левый отступ, равный 40px*/
		width: 1000px;
		overflow: hidden;
	}
	.h-menu a {
		text-decoration: none; /*убираем подчеркивание текста ссылок*/
		text-align: center;
		display: block;
		/*  color: #E6E6FA;*/
		padding: 0.5em 0;
		font-size: 1em;
		font-weight: bold;
		transition: 0.5s ease-in-out;

	} 
	.h-menu a:hover {
		background: #7FFFD4;
	} 	
	
	.h-menu li {
		float: left;
		width: 33%;
	}
	
	.submenu {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		z-index: 10;
		-webkit-transition: 0.5s ease-in-out;
		-moz-transition: 0.5s ease-in-out;
		-o-transition: 0.5s ease-in-out;
		transition: 0.5s ease-in-out;
		display: none;
	}
	
	
	.h-menu ul li .submenu {
		position: absolute;
		left: 36.4%;
	}
	
	
	.h-menu ul li:hover .submenu {
		display: block;
	}
	
	
	
    .v-menu { 
		top: 10px;
		padding: 0px; 
		position: relative; 
		float: left;
		font-family: Georgia, 'Times New Roman', Times, serif;
		font-size: medium;
		font-weight: normal;
		width: 200px;

   }  

	.v-menu ul {
	  list-style: none; /*убираем маркеры списка*/
	  margin: 0 auto; /*убираем верхнее и нижнее поле, равное 1em*/
	  padding-left: 0; /*убираем левый отступ, равный 40px*/

	}
	.v-menu li {
		padding: 2px; 
		border: 1px;
		border-color: #000000;
	}

	.v-menu a {
	  text-decoration: none; /*убираем подчеркивание текста ссылок*/
	  text-align: left;
	  display: block;
	  font-size: 1em;
	  font-weight: bold;
	  transition: 0.5s ease-in-out;

	  
	} 
	
	
	.v-menu a:hover {
		background: #7FFFD4;
	  
	} 	
	
	.r-fr{
		font-size: large;
		
		margin-left: 200px; 
		top: 20px;
		position: relative; 
		padding: 15px;
		
	}
	
   
     .bot-div { 
		background: #ffffff; 
		padding: 1px; 
		position: absolute;
		left:0;
		bottom: 5px;
		width: 100%;
		height: 3px; 

   }   